<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saveetha.findmaid">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Findmaid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <!-- Launch activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All other activities -->
        <activity android:name=".LoginPage" android:exported="true" />
        <activity android:name=".NavigationActivity" android:exported="true" />
        <activity android:name=".Signup" android:exported="true" />
        <activity android:name=".CategoryMaidListActivity" android:exported="true" />
        <activity android:name=".MaidDetailActivity" android:exported="true" />
        <activity android:name=".SearchBar" android:exported="true" />
        <activity android:name=".ReviewActivity" android:exported="true" />
        <activity android:name=".RateUsActivity" android:exported="false" />
        <activity android:name=".BookingActivity" android:exported="true" />
        <activity android:name=".PostRequest" android:exported="false" />
        <activity android:name=".MaidRequestsActivity" android:exported="true" />
        <activity android:name=".UserRequestStatusActivity" android:exported="true" />

    </application>
</manifest>
